<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KioskDotNetService.AirwatchConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KioskDotNetService.KioskDotNetConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KioskDotNetService.AirwatchConfig>
            <setting name="StoreID" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="MerchantID" serializeAs="String">
                <value>611000602002773</value>
            </setting>
            <setting name="TerminalID" serializeAs="String">
                <value>W2773098</value>
            </setting>
        </KioskDotNetService.AirwatchConfig>
        <KioskDotNetService.KioskDotNetConfig>
            <setting name="LISTEN_PORT" serializeAs="String">
                <value>7077</value>
            </setting>
            <setting name="BUFFER_SIZE" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="SOCKET_READ_TIMEOUT" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="LOG_RETAIN_HISTORY" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LOG_FILE_NAME" serializeAs="String">
                <value>KioskDotNetLog</value>
            </setting>
            <setting name="LOG_FILE_PATH" serializeAs="String">
                <value>C:\KioskDotNet_Log</value>
            </setting>
            <setting name="MODULE_NAME" serializeAs="String">
                <value>KioskDotNetService</value>
            </setting>
            <setting name="MODULE_VERSION" serializeAs="String">
                <value>1.0.0.1</value>
            </setting>
            <setting name="COMPANY_NAME" serializeAs="String">
                <value>Woolworths Group</value>
            </setting>
            <setting name="LOG_FILE_COUNT" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MAX_LOG_SIZE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LOG_OPTION_ERROR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_OPTION_INFO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_OPTION_DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_OPTION_WARNING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_OPTION_SQL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_OPTION_XML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_OPTION_KEYS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOG_OPTION_SECURE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PCEFTPOS_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PCEFTPOS_PORT" serializeAs="String">
                <value>2999</value>
            </setting>
            <setting name="KIOSK_SERVICE_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </KioskDotNetService.KioskDotNetConfig>
    </userSettings>
</configuration>